* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 00vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}

.btn {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #000000;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.side-menu .brand-name {
    height: 10vh;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 24px;
    padding: 40px 30px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: white;
    color: #023e8a;
}

.container {
    position: relative;
    
    width: 60vw;
    height: 100vh;
    background: #f1f1f1;
}
.container .content {
    position: relative;
    width: 90vw;
    margin-top: 5vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
   
    left: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container .content .cards .icon-case{
    padding: 5px;
    


}
.container .content #ventasGrafico {
    position: relative;
    padding-top: 0px;
    left: 230px;
    height:  450px;
    width: 1000px
} 
.container .content .cards .card {
    position: relative;
    padding: none;
    width: 350px;
    left: 20px;
    height: 150px;
    background: white;
    margin: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
    position: relative;
    min-height: 60vh;
    left: 250px;
    width: 900px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
.container .content .content-2 h2{
    position: relative;
    left: 250px;
}

.container .content  table{
    position: relative;
    width: 1000px;
}



.container .content table th {
    background-color: #337ab7 !important;
    color: white;
}
.container .content table>tbody>tr>td {
    vertical-align: middle;
    padding: auto;
}

/*para alinear los botones y cuadro de busqueda*/
.container .content  .content-2 .btn-group, .btn-group-vertical {
    position: absolute !important;
}

/*para alinear los botones y cuadro de busqueda*/


.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}


@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: left;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}