<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
 <nav class="navbar navbar-dark bg-dark"style="height: 70px">
	 <div class="header">
                <div class="side-btn " >
                     
                    </div>
                <div class="header-menu">

                    <div class="title"><a th:href="@{/index}"><img  th:src="@{/IMG/caz.png}"width="80px"height="40px"> <span><img th:src="@{/IMG/titulo.png}"height="40px" ></a></span></div>
                    
                    <ul>
                       <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fas fa-power-off"></i></a></li>
                        
                    </ul>
                    
                </div>
            </div>
</nav>

 <div class="container text-center">
        <div>
            <h1>Registro usuario</h1>
        </div>
        <form th:action="@{/registro/guardar}" th:object="${usuario}"
            method="post" style="max-width: 600px; margin: 0 auto;" modelAttribute="alreadyRegisteredMessage">
            <div th:if=${param.error}>
						<div class="alert alert-danger">Usuario o contraseña
							inválidos</div>
					</div>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Correo: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
            </div>
             
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                            required minlength="6" maxlength="10" />
                </div>
            </div>
             
            <div class="form-group row">
                <label class="col-4 col-form-label">Nombre de usuario </label>
                <div class="col-8">
                    <input type="text" th:field="*{nombreusuario}" class="form-control"
                            required minlength="2" maxlength="20" />
                </div>
            </div>
             
            <div class="form-group row">
                <label class="col-4 col-form-label">Nombre y apellido: </label>
                <div class="col-8">
                    <input type="text" th:field="*{nombre_apellido}" class="form-control"
                            required minlength="2" maxlength="20" />
                </div>
      
             <div class="text-center p" style="margin-top: 50px; margin-left: 300px" >
            <div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
            </div>
        </div>
        </form>
    </div>



	
</body>
</html>